@charset "utf-8";
/*reset*/

html{color:#000}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img,a{margin:0;padding:0;outline-style:none;}

fieldset,img{border:0;}

address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}

li{list-style:none;}

caption,th{text-align:left;}

h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

q:before,q:after{content:'';}

abbr,acronym {border:0;font-variant:normal;}

sup{vertical-align:text-top;}

sub{vertical-align:text-bottom;}

input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}

input,textarea,select *{font-size:100%;}

legend{color:#000;}


/*main classes*/

.wrapper{
	width: 960px;
	margin: 0 auto;
	clear: both;
}

.fleft{
	float:left;
}

.fright{
	float:right;
}

.clear{
	clear:both;
}

.left{
	text-align:left;
}

.right{
	text-align:right;
}

.center{
	text-align:center;
}

/*layout*/

#logo{
	padding-top:25px;
}

#subNavCont{
	overflow: visible;
}

#header{
	overflow: visible;
	height:130px;
}

#rightColumn{
	width:210px;
	margin-left:20px;
}

#textContNoSidebar{
	padding: 1em;
}

#leftColumn{
	width:210px;
	margin-right:20px;
}

#content {
	margin-top: 30px;
	margin-bottom: 20px;
	border-radius: 25px;
	background-color: #cecfce;
}

#slider {
	margin-bottom: 25px;
}

/* Body */

html{
	background-color: rgb(227,226,225);
	font-family: "Lato", "Arial", "Helvetica", sans-serif;
	font-size: 12px;
}

body{
	font-size: 1.3rem;
}

p {
	margin: 1.5rem 0;
	line-height: 1.5;
}

ul{
	list-style:square outside none;
}

li {
	margin:0.4em 0;
	list-style:none;
}

a{
	color:#FF0931;
}

#middleColumnMain img{
	background:#fff;
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
	padding: 5px;
}

.items-leading .btn,
#content a.readon, #content a.readmore, .k2ReadMore {
	background:url(../images/more.png) no-repeat scroll 100% 50% rgb(107,207,0);
	color:#000;
	font-size:1rem;
	padding:0.2em 18px 0.2em 0.4em;
	white-space:nowrap;
	text-decoration:none;
}

.subheading-category,
#content .componentheading, #content h3{
	border-left:3px solid #FF0931;
	color:#FF0931;
	font-weight:bold;
  font-size: 1.2rem;
	margin:0 0 0.5em;
	padding:0 0 0 1em;
}

#middleColumn h3{
	background-color:#D2D2D2;
	border:medium none;
	padding:0.5em 1em;
}

.contentheading, h4, h2,
div.itemHeader h2.itemTitle {
	color:#FF0931;
	font-weight:bold;
  font-size: 1.4rem;
	margin:1em 1em 0.5em 1em;
	padding: 0;
	line-height: 100%;
}

strong{
	font-weight:bold;
}

/* Header */

#header{
	background-color:#fff;
}

.moduletable_welcome{
	margin-bottom:11px;
}

.moduletable_welcome p{
	color:#FF0931;
	font-size:1.2rem;
	font-weight:bold;
	line-height:1.5rem;
	overflow: hidden;
	text-align: center;
	width: 100%;
}

.moduletable_welcome span{
	display:block;
	padding-top: 30px;
}

#upperMenu{
	display: none;
}

/* Menu Główne */
#menuMain {
	display: flex;
	justify-content: center;
  align-items: baseline;
	background-color: #9e9e9e;
}

#mainMenu{
	display: flex;
	white-space:nowrap;
}

#mainMenu li{
	position:relative;
	font-size:1.4rem;
	margin: 0;
}

#mainMenu li ul{
	display: none;
	flex-direction: column;

	position:absolute;
	z-index: 40000;
	top: 0.2rem;
	padding-top: 2.6rem;
}

#mainMenu li:hover ul {
	display: flex;
}

#mainMenu ul li{
	font-size:1.4rem;
	border-top:1px #fff dotted;
	margin:0;
	background-color: gray;
}

#mainMenu a, #mainMenu li > span{
	display:block;
	background-color:#9e9e9e;
	color:#FFF;
	text-decoration:none;
}

#mainMenu li > a,
#mainMenu li > span {
	padding: 0.6rem 0.8rem;
}

#mainMenu ul li a{
	background:none;
}

/* Menu w stopce */

#footerCont{
	background-color:#fff;
	padding-top:10px;
	text-align: center;
}

#menuFooter li{
	display:inline;
	font-size:1.1rem;
	padding: 0 0 0 0.5em;
	margin: 0 0.5em 0 0;
	border-left:1px #7E7E7E solid;
}

#menuFooter li.item1{
	border:none;
}

#menuFooter a{
	color:#7E7E7E;
	text-decoration:none;
}

/* Search */

#search{
	background-color:#a2a2a2;
	padding: 5px 0;
	color:#888;
	margin-bottom:20px;
	border-radius: 25px;
}

#search .contest-title{
	margin:10px 10px 10px 20px;
	display: none;
}

.moduletable_mapa_glowna{
	float:left;
	margin-left:10px;
}

.moduletable_mapa_glowna h3{
	float:left;
	margin: 0 40px 0 0;
}

.moduletable_mapa_glowna p{
	float:left;
}

.moduletable_contsetsearch{
	float:right;
}

.moduletable_search_cert_products h3{
	display:inline;
	color:#FF0931;
	font-weight:bold;
	line-height:1em;
	margin-right:10px;
}

/*.blog_more h2{*/
.items-more h2{
	display:none;
}

p.counter{
	display:none;
}

/* Footer */

.copyrights{
	font-size:1.1rem;
	color:#7E7E7E ;
}

/* added in migration from 1.5 to 3.0 */

.actions{
margin:0;
}
.actions li{
list-style: none;
display:inline;
float:right;
}
table.category{
border:1px solid #CCC;
width:100%;
text-align:center;
}
table.category th,table.category td{
padding:2px 6px;
}
table.category thead{
background:#EEE;
}
.jcat-children ul,.jcat-children li{
margin:0;
list-style:none;
}
.jcat-children li a{
background:url(../images/bullet_green_arrow.png) no-repeat 0 12px;
display:block;
padding:5px 5px 5px 15px;
font-size:0.9rem;
}

.itemAuthor,
.itemDateCreated,
.itemToolbar,
.itemRatingBlock,
.itemSocialSharing,
.itemLinks,
.itemAuthorBlock,
.itemAuthorLatest,
.itemNavigation,
.itemContentFooter,
.catItemDateCreated,
.catItemCategory,
.catItemCategory,
.catItemDateCreated,
.catItemAuthor,
.k2FeedIcon,
.itemListCategoriesBlock,
.itemIntroText,
.itemExtraFields,
.itemBackToTop,
#itemListLinks {
	display: none;
}

#tytul {
	font-size: 1.4rem;
	color: #FF0931;
	font-weight: bold;
}

.mod_gk input, .mod_gk select {
	margin: 15px;
	padding: 15px;
}

#product {
	line-height: 17px;
	border-spacing: 25px;
}

#introtext>p {
	text-align: justify;
	padding: 10px;
}

#fulltext {
	padding: 10px;
	text-align: justify;
}

#fulltext, #address {
	border-right: 1px Solid Black;
	border-bottom: 1px Solid Black;
	border-radius: 25px;
	background-color: white;
}

#address {
	width: 250px;
	padding: 10px;
	text-align: center;
}
#ppd_media {
	border-spacing: 25px;
}
#ppd_media img {
	border: 1px Solid Black;
	padding: 5px;
	background-color: white;
}
#ppd_media jcemediabox-zoom-span {
	background-color: white;
}
#k2Container,
div.itemView {
	padding: 0;
}
div.itemView {
	margin: 0;
}

#slider div.custom {
	position: relative;
	padding-top: 1.3em;
}

.banner-header {
	position: absolute;
	top: 0;
	width: 960px;
	background-color: white;
  text-align: center;
  font-size: 1.3em;
  text-transform: uppercase;
  color: #9e9e9e;
  font-family: Helvetica;
  margin-bottom: 0;
}

.banner-text {
	position: absolute;
	display: block;
	width: 140px;
	right: 10px;
	bottom: 20px;
	text-align: center;
	color: white;
	text-transform: uppercase;
}

.itemVideo {
	text-align: center;
}

#header div.logos {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.gk_single_item {
	
}
